@model X_TEC.TEColones.Models.Student
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/LayoutBases/_StudentLayout.cshtml";
}


<head>
    <title>Inicio | TEColones</title>
</head>
<h3>@ViewBag.Message</h3>
<h2>Vista Principal Estudiante Prueba</h2>


