
@{
    ViewBag.Title = "Pagina Principal";
    Layout = "~/Views/LayoutBases/_SCMLayout.cshtml";
}




<!DOCTYPE html>

<html>


<head>
    <title>Inicio</title>
</head>

<body>
    <h1>Registrar material recibido</h1>
    

    <div class="col-sm-9 col-md-6 col-lg-8">

        <div class="col-md-3">
            <label for="cartonypapelInput">Carton y Papel</label>
            <input id="cartonypapelInput" type="number" name="cartonypapelInput" /> <t>kg</t>
        </div>

        <div class="col-md-3">
            <label for="plasticoInput">Plástico</label>
            <input id="plasticoInput" type="number" name="plasticoInput" /><t>kg</t>
        </div>

        <div class="col-md-3">
            <label for="tetrapackInput">Tetrapack</label>
            <input id="tetrapackInput" type="number" name="tetrapackInput" /><t>kg</t>
        </div>

        <div class="col-md-3">
            <label for="vidrioInput">Vidrio</label>
            <input id="vidrioInput" type="number" name="vidrioInput" /><t>kg</t>
        </div>

    </div>
</body>
</html>

