
@{
    ViewBag.Title = "Pagina Principal";
    Layout = "~/Views/LayoutBases/_SCMLayout.cshtml";
}




<!DOCTYPE html>

<html>


<head>
    <title>Inicio</title>
</head>

<body>

    <h1>Registrar material recibido</h1>

    <div class="row">

        <div class="col-md-2">
            <label>Carton y Papel</label>
            <input id="cartonypapelInput" type="number" /> <t>kg</t>
        </div>

        <div class="col-md-2">
            <label for="plasticoInput">Plástico</label>
            <input id="plasticoInput" type="number" /><t>kg</t>
        </div>

        <div class="col-md-2">
            <label for="tetrapackInput">Tetrapack</label>
            <input id="tetrapackInput" type="number" /><t>kg</t>
        </div>

        <div class="col-md-2">
            <label for="vidrioInput">Vidrio</label>
            <input id="vidrioInput" type="number" /><t>kg</t>
        </div>



    </div>

    <div class="row">
        <div>
            <t>Carnet del Estudiante: </t>
            <input id="carnetInput" type="number" />
        </div>
    </div>

    <div class="row">
        <div>
            <button id="botonIngresar">Ingresar</button>
        </div>
    </div>

</body>
</html>

