@model X_TEC.TEColones.Models.StudentModels.StudentModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/LayoutBases/_StudentLayout.cshtml";
}

<!DOCTYPE html>

<hmtl>
    <body>
        <h2>Dashboard EStudiante</h2>
    </body>
</hmtl>