@model X_TEC.TEColones.Models.AdminModels.AdminModel
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Pagina Princiapl</title>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['gauge'] });
        google.charts.setOnLoadCallback(drawGauge);
        function drawGauge() {

            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['', @Model.DashboardModel.ToneladasAnuales]
            ]);

            var options = {
                width: 500, height: 300,
                greenFrom: 15, greenTo: 20,
                yellowFrom: 10, yellowTo: 15,
                max: 20
            };

            var chart = new google.visualization.Gauge(document.getElementById('chart_gauge'));

            chart.draw(data, options);
        }
    </script>
</head>


<body>
   
    
    <div class="py-3 center-block" id="chart_primary">
        <div class="row">
            <div class="col-4"> </div>
            <div class="col-4">
                <label for="chart_gauge" class="label-primary" style="text-align:center; font-weight:900; font-size:35px">Toneladas Anuales</label>
                <div id="chart_gauge" style="width: 350px; height: 350px; margin:0 auto;"></div>
          
            </div>
            <div class="col-4"> </div>
        </div>
    </div>
    <script type="text/javascript">

        $(function () {
            setInterval(function () { $('#chart_primary').load('/AdminHome/Home'); }, 1000);
        });

    </script>

</body>
</html >
