@model X_TEC.TEColones.Models.AdminModels.AdminModel
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Pagina Princiapl</title>
</head>

<body onload="draw(0);">
    <h1>Pagina Principal para los Usuarios Admins</h1>
</body>
</html>