@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}


<head>
    <title>Pagina Princiapl</title>
</head>

<body>
    <h1>Pagina Principal para los Usuarios Admins</h1>
</body>