
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAccount</title>
</head>
<body>
    <div> 
        <h2>Pagina</h2>
        <h4>Para Crear </h4>
        <h6>nueva cuenta de estudiante</h6>
    </div>
</body>
</html>
