
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAccount | TEColones</title>
</head>
<body>
    <div>
        <h1>Pagina para crear cuenta</h1>
        <h6>Crear cuenta de estudiante</h6>
    </div>
</body>
</html>
