@model X_TEC.TEColones.Models.AdminModels.Configuration

@{
    ViewBag.Title = "Configuracion";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <title>Configuraciones</title>
</head>

<body>
    <div class="py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone"><i class="fa"></i>Tasa de Conversion Material-TEColones</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">Tasa de Conversion TEColones-Colones</a> </li>
                        <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabthree"> Cuenta Twitter</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Home", "SCMHome", Model, FormMethod.Post))
    {
        <table>
            <tr>
                <th>Categoria</th>
                <th>TEColones por kg</th>
            </tr>
            <tr>
                <td>Plastico</td>
                <td><input type="number" name="inputPlastico" placeholder="123456" /></td>
            </tr>
            <tr>
                <td>Vidrio</td>
                <td><input type="number" name="inputVidrio" placeholder="123456" /></td>
            </tr>
            <tr>
                <td>Papel</td>
                <td><input type="number" name="inputPapel" placeholder="123456" /></td>
            </tr>
            <tr>
                <td>Aluminio</td>
                <td><input type="number" name="inputAluminio" placeholder="123456" /></td>
            </tr>
        </table>
    }
    <!--</form> -->
</body>


</html>