
@{
    ViewBag.Title = "Configuracion";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="~/Content/Recursos/theme.css" />

    <title>TEColones Iniciar Sesion</title>
</head>

<h2>Configuraciones del Sistema</h2>

