@model X_TEC.TEColones.Models.AdminModels.ConfigurationModel


@{
    ViewBag.Title = "TEColonesConfiguration";
    Layout = "~/Views/LayoutBases/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Tasa de Conversion TEColones-Colones</title>
</head>

<body>
    <div class="py-2">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">@Html.ActionLink("Tasa de Conversion Material-TEColones", "MaterialValueConfiguration", "Configuration")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">@Html.ActionLink("Tasa de Conversion TEColones - Colones", "TCSValueConfiguration", "Configuration")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">@Html.ActionLink("Cuenta Twitter", "TwitterConfiguration", "Configuration")</a>
            </li>
        </ul>
    </div>
    @using (Html.BeginForm("GetNewExchangeTCSValues", "Configuration", FormMethod.Post))
    {
        <div class="py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 align="center">Tasa de Cambio</h3>
                        <h4 align="center">(Matrícula)</h4>
                        <p class="" align="center" style="font-size:30px;">
                            <img src="~/Content/Recursos/iconoTEColones.png" width="55" height="55" align="middle"> 1 =
                            <input type="number" name="inputTCSStudy" placeholder="0.2" width="50" height="50" step=".01" />
                        </p>
                        <h3 align="center">Tasa de Cambio</h3>
                        <h4 align="center">(Comedor)</h4>
                        <p class="" align="center" style="font-size:30px;">
                            <img src="~/Content/Recursos/iconoTEColones.png" width="55" height="55" align="middle"> 1 =
                            <input type="number" name="inputTCSDinning" placeholder="0.4" maxlength="2" size="2" step=".01" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary text-center justify-content-center align-items-center w-75">Guardar</button>
        </div>
        <div class="row justify-content-center">
            <button type="reset" class="btn btn-primary text-center justify-content-center align-items-center w-75">Cancelar</button>
        </div>
    }
</body>


</html>