<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <title>@ViewBag.Title</title>


</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
