
@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Recuperar Constraseña</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Message</h2>
        <h1>ForgotPassword pagina para restrablecer la contraseña</h1>
    </div>
</body>
</html>
